<div class="singleplayer-block__before-game-block">
    <div class="before-game-block__logo-label">{{label}}</div>
    <div class="before-game-block__score-tip">
        <img src="../../static/img/score.png" class="images-block__image">
        <div class="images-block__rules-text">
            {{scoreTip}}
        </div>
    </div>
    <div class="before-game-block__control-tip">
        <img src="../../static/img/control.jpg" class="images-block__image">
        <div class="images-block__rules-text">
            {{controlTip}}
        </div>
    </div>
    <div class="before-game-block__goal-tip">
        <img src="../../static/img/goal.png" class="images-block__image">
        <div class="images-block__rules-text">
            {{goalTip}}
        </div>
    </div>
    <div class="before-game-block__buttons-block">
        <span class="play-button game-button">{{playText}}</span>
    </div>
</div>